<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/2.1.2/polaris.min.css" />

<div class="Polaris-Page">
  <div class="Polaris-Page__Header Polaris-Page__Header--hasSeparator">
    <div class="Polaris-Page__Title">
      <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Protect Your Best Selling Products</h1>
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">
      <div class="Polaris-Layout__AnnotatedSection">
        <div class="Polaris-Layout__AnnotationWrapper">
          <div class="Polaris-Layout__Annotation">
            <div class="Polaris-TextContainer">
              <h2 class="Polaris-Heading">Description</h2><span class="Polaris-TextStyle--variationSubdued">Keep your best selling products safe by redirecting to a specific page.</span></div>
          </div>
          <div class="Polaris-Layout__AnnotationContent">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Section">
                <div class="Polaris-FormLayout">
                  <div class="Polaris-FormLayout__Item">
                    <form autocomplete="on" enctype="text/plain" novalidate="">
                      <div class="">
                        <div class="Polaris-Labelled__LabelWrapper">
                          <div class="Polaris-Label"><label id="TextField6Label" for="TextField6" class="Polaris-Label__Text">Redirect  URL</label></div>
                        </div>
                        <div class="Polaris-TextField"><input id="TextField6" class="Polaris-TextField__Input" type="url" aria-labelledby="TextField6Label" aria-invalid="false" placeholder="http://" value="">
                          <div class="Polaris-TextField__Backdrop"></div>
                        </div>
                        <label class="Polaris-Choice" for="Checkbox47"><span class="Polaris-Choice__Control"><span class="Polaris-Checkbox"><input id="Checkbox47" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><g fill-rule="evenodd"><path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path><path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path></g></svg></span></span></span></span><span class="Polaris-Choice__Label">Protect My Best Selling Products</span></label>
                      </div>
                      <button type="button" class="Polaris-Button Polaris-Button--primary" style="margin-top: 8px;"><span class="Polaris-Button__Content"><span>Save</span></span></button></form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Polaris-Page">
  <div class="Polaris-Page__Header Polaris-Page__Header--hasSeparator" style="padding: 0 !important;">
  </div>
</div>

<div class="Polaris-Page" style="padding:0;">
  <div class="Polaris-Page__Header Polaris-Page__Header--hasSeparator" style="visibility: hidden;padding:0 !important;">
  </div>
</div>

  <div class="Polaris-FooterHelp">
    <div class="Polaris-FooterHelp__Content">
      <div class="Polaris-FooterHelp__Icon"><span class="Polaris-Icon Polaris-Icon--colorTeal Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><circle cx="10" cy="10" r="9" fill="currentColor"></circle><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8m0-4a1 1 0 1 0 0 2 1 1 0 1 0 0-2m0-10C8.346 4 7 5.346 7 7a1 1 0 1 0 2 0 1.001 1.001 0 1 1 1.591.808C9.58 8.548 9 9.616 9 10.737V11a1 1 0 1 0 2 0v-.263c0-.653.484-1.105.773-1.317A3.013 3.013 0 0 0 13 7c0-1.654-1.346-3-3-3"></path></svg></span></div>
      <div
           class="Polaris-FooterHelp__Text">Need help? <a class="Polaris-Link" href="http://www.ic-agency.com/cms/en/home.html" data-polaris-unstyled="true">Contact Us</a>.</div>
    </div>
  </div>

<% if false %>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
<% end %>